/*++++++++Globale Einstellungen +++++++++*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap%27');
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 25px;
    max-width: 1440px;
    background-color: #fff;
    font-family: 'Merriweather', serif;
    line-height: 200%;
    margin: 0 auto;
}

.Central {
    text-align: center;
    padding: 10% 0 10%;
}

a {
    text-decoration: none;
}

/*++++++++Globale Einstellungen +++++++++*/

/*++++++++Header Einstellungen Start +++++++++*/

.Kopf {
    text-align: right;
    word-spacing: 40px;
    margin-bottom: 5%;
}

/*++++++++Header Einstellungen Ende +++++++++*/

/*++++++++Seite 1 Einstellungen Start +++++++++*/

.pageone article:nth-of-type(1) {
    background: url("../img/illustration1.gif") right/ contain no-repeat;
    background-size: 500px;
    padding: 10% 0% 40% 10%;
}

.pageone article:nth-of-type(2) {
    background: url("../img/illustration2.png") left/ contain no-repeat;
    background-size: 500px;
    padding: 10% 0% 40% 10%;
}

.pageone1 {
    text-align: right;
}

.pageone article:nth-of-type(3) {
    background: url("../img/illustration3.png") right/ contain no-repeat;
    background-size: 500px;
    padding: 10% 0% 40% 10%;
}

.pageone a:nth-of-type(1) {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px 12px;
}

.pageone a:nth-of-type(2) {
    border: 1px solid black;
}

/*++++++++Seite 1 Einstellungen Ende +++++++++*/

/*++++++++Seite 2 Einstellungen Start +++++++++*/

section div img {
    width: 33%;
    padding: 5% auto;
}

section div img:hover {
    transition: box-shadow;
    box-shadow: 1px 2px 5px rgba(19, 16, 16, 0.2);
}

/*++++++++Seite 2 Einstellungen Ende +++++++++*/

/*++++++++Seite 3 Einstellungen Start +++++++++*/

.Pictures {
    padding: 5% auto;
    text-align: center;
}

.Pictures img {
    width: 40%;
    padding: 5% 4%;
}

/*++++++++Seite 3 Einstellungen Ende +++++++++*/

.page4 {
    padding: 5% 0% 10% 0%;
    background-color: #F5FBFE;
    width: 320px;
    margin: 40px auto 90px auto;
}

#202020, #24bff2, #fff, #F5FBFE.