/*++++++++Globale Einstellungen +++++++++*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap%27');
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 25px;
    max-width: 1440px;
    background-color: #fff;
    font-family: 'Merriweather', serif;
    line-height: 200%;
    margin: 0 auto;
    color: #202020;
}

.Central {
    text-align: center;
    padding: 10% 10%;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 55px;
}

/*++++++++Globale Einstellungen +++++++++*/

/*++++++++Header Einstellungen Start +++++++++*/

.Kopf {
    text-align: right;
    word-spacing: 40px;
    font-family: 'Lato', sans-serif;
}

/*++++++++Header Einstellungen Ende +++++++++*/

/*++++++++Seite 1 Einstellungen Start +++++++++*/

.pageone article:nth-of-type(1) {
    background: url("../img/illustration1.gif") right/ contain no-repeat;
    background-size: 700px;
    padding: 0% 0% 40% 5%;
}

.pageone article:nth-of-type(1) {
    padding-bottom: 17vh;
}

.distanz {
    padding-top: 30vh;
}

.distanz2 {
    padding-top: 20vh;
}

.pageone article:nth-of-type(2) {
    background: url("../img/illustration2.png") left/ contain no-repeat;
    background-size: 700px;
    padding: 10% 5% 10% 0%;
}

.pageone1 {
    text-align: right;
}

.pageone article:nth-of-type(3) {
    background: url("../img/illustration3.png") right/ contain no-repeat;
    background-size: 700px;
    padding: 0% 0% 40% 5%;
}

.pageone a:nth-of-type(1) {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px 12px;
}

.pageone a:nth-of-type(2) {
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 10px 12px;
}

/*++++++++Seite 1 Einstellungen Ende +++++++++*/

/*++++++++Seite 2 Einstellungen Start +++++++++*/

section div img {
    width: 33%;
    padding: 5% auto;
}

section div img:hover {
    transition: box-shadow;
    box-shadow: 1px 2px 5px rgba(19, 16, 16, 0.2);
}

/*++++++++Seite 2 Einstellungen Ende +++++++++*/

/*++++++++Seite 3 Einstellungen Start +++++++++*/

.Pictures {
    padding: 5% auto;
    text-align: center;
}

.Pictures img {
    width: 40%;
    padding: 5% 4%;
}

/*++++++++Seite 3 Einstellungen Ende +++++++++*/

/*++++++++Seite 4 Einstellungen Start +++++++++*/

.page4 {
    padding: 5% 0% 4% 0%;
    background-color: #F5FBFE;
    width: 320px;
    margin: 40px auto 90px auto;
    line-height: 150%;
}

.page4 p:nth-of-type(1) {
    padding: 5% 0% 5% 0%;
    font-size: 28px;
}

.page4 p:nth-of-type(2) {
    font-size: 35px;
    padding: 5% 0% 5% 0%;
}

.page4 p:nth-of-type(3) {
    margin: 10% auto;
    color: grey;
}

.page4 p:last-child {
    background-color: #24bff2;
    color: #fff;
    border-radius: 10px;
    margin: 30px 15px;
}

/*++++++++Seite 4 Einstellungen Ende +++++++++*/

/*++++++++Footer Einstellungen Start +++++++++*/

footer section div:nth-of-type(odd) a:nth-of-type(odd) {
    color: grey;
}

.super a {
    color: black;
}

footer div p {
    display: inline-block;
}

footer div p:nth-of-type(1)::before {
    color: #3b5998;
    content: ".";
    font-size: 40px;
}

footer div p:nth-of-type(2)::before {
    color: #fcaf45;
    content: ".";
    font-size: 40px;
}

footer div p:nth-of-type(3)::before {
    color: #55acee;
    content: ".";
    font-size: 40px;
}

footer div p:nth-of-type(4)::before {
    color: #c4302b;
    content: ".";
    font-size: 40px;
}

/*++++++++Footer Einstellungen Ende +++++++++*/